<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .hide {
      display: none;
    }

    .TransformationEvent,
    .AssociationEvent,
    .AggregationEvent {
      display: block;
    }
  </style>
</head>
<body>
  {{#each credentialSubject}}
    <div class="hide {{#each type}}{{.}} {{/each}}">
      Render 
    </div>
  {{/each}}
</body>
</html>